<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.izettle.payments.android.kotlin_example">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:fullBackupContent,android:supportsRtl">

        <activity android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity" />

        <activity
            android:name=".CardReaderActivity"
            android:label="Card Reader" />

        <activity
            android:name=".PayPalQrcActivity"
            android:label="PayPal Qrc" />

        <activity
            android:name="com.izettle.android.auth.OAuthActivity"
            android:launchMode="singleTask"
            android:taskAffinity="@string/oauth_activity_task_affinity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="@string/redirect_url_host"
                    android:scheme="@string/redirect_url_scheme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>